review {
    .review-card {
        padding-top: 0px;
        .text-title {
            font-size: 6vw;
        }
        .text-sub-title {
            font-size: 4vw;
        }
        .text-big-red {
            color: red;
            font-size: 6vw;
        }
        .text-decoration {
            color: silver;
            text-decoration: line-through;
        }
        .product-user-action {
            font-size: 6vw;
        }
        .text-readonly {
            color: silver;
        }
        .icon-text {
            color: silver;
            ion-icon {
                color: red;
                font-size: 8vw;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                span {
                    font-size: 4vw;
                }
            }
        }
    }
    .promotion-row {
        background-color: rgba(192, 192, 192, 0.21);
        color: gray;
    }
    background-color: #fff;
    ul {
        padding: 0px;
        margin-top: 0px;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 20px;
            }
        }
    }
    hr {
        height: 1px;
    }
    .list {
        margin-bottom: 1px;
    }
    ion-list {
        ion-item-divider {
            background-color: #fff;
            border-bottom: 1px solid #dedede;
            font-size: 1.4rem;
            color: #858585;
            ion-icon {
                color: red;
            }
        }
        ion-item {
            color: #858585;
            ion-icon {
                color: red;
            }
        }
    }
    .progress-box {
        border-spacing: 1px;
        .progress-bar {
            background-color: silver;
            height: 15px;
            width: 90%;
            padding-top: 0.1px;
            padding-bottom: 0.1px;
            padding-left: 0.1px;
            padding-right: 0.1px; //margin-left: 10%;
            // margin-right: 10%;
            margin-top: 7px; // margin-bottom: 10px;
            border-radius: 2px;
            span {
                text-align: center;
                display: inline-block;
                height: 100%;
                border-radius: 2px;
                background-color: #ffb400;
                transition: width .4s ease-in-out;
            }
        }
        p {
            ion-row {
                height: 15px;
            }
        }
    }
}