list-scoll-x {
    $categories-horizontal-list-padding: 10px;
    
    .horizontal-categories
    {
        border-bottom: 10px solid $white-a;
        @include element-shadow();
        padding-bottom: 16px;

        .scroll-content
        {
            position: relative;
            contain: style layout;
        }

        .categories-row
        {
            @include flex-wrap(nowrap);

            &::after{
                content: '';
                flex: 0 0 $categories-horizontal-list-padding;
            max-width: $categories-horizontal-list-padding;
            }
        }
        preload-image {
            img {
                z-index: -3;
            }
        }
        .horizontal-item
        {
            padding: 0px 0px 0px $categories-horizontal-list-padding;
            .product-box{
                background-color: rgba($black-c, .6);
                margin-top: -50px;
                color: $white;
                .txt-centr {
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis; // width: 100% !important;
                }
                .txt-centr2 {     
                    text-align: center;
                    margin-top: -10px;
                }
            }
        }
    }
}
