<ion-scroll scrollX="true" class="horizontal-categories">
  <ion-row>
    <ion-col >
      
    </ion-col>
  </ion-row>
  <ion-row class="categories-row">
    <ion-col width-30 class="horizontal-item" *ngFor="let popular of populars" 
      (click) = "_selectedItem(popular)">
      <preload-image [ratio]="{w:1, h:1}" [src]="popular.image" title="popular.image"></preload-image>
      <div class="product-box">
          <p class="txt-centr">{{popular.name}}</p>
          <p class="txt-centr2">{{popular.price | number}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-scroll>