<ion-slides class="contact-slides" pager="true" *ngIf="dataTopBar.images">
  <ion-slide class="contact-slide" *ngFor="let image of dataTopBar.images">
    <background-image [src]="image"></background-image>
  </ion-slide>
</ion-slides>
<ion-row class="contact-details-row" wrap>
  <ion-col no-padding width-65>
    <h2 class="contact-name">{{dataTopBar.name}}</h2>
  </ion-col>
  <ion-col no-padding width-35 class="rating-col">
    <ion-icon  *ngIf="!status" name="md-heart" color="danger" class="circle-btn"></ion-icon>
    <ion-icon  *ngIf="status" name="md-heart-outline" color="danger" class="circle-btn"></ion-icon>
  </ion-col>

  <ion-col no-padding width-65>
    <p class="contact-description">
      {{dataTopBar.detail}}
    </p>
  </ion-col>
  <ion-col no-padding width-35 class="rating-col">
    <rating [(ngModel)]="dataTopBar.rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
      starIconName="star" nullable="false"></rating>
  </ion-col>
</ion-row>