page-cart {
    .counter-list {
        @include counter-item-styles($white-d, $theme-color-1, $white);
    }
    .categories-title {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.7px;
        color: $white-d;
        margin: 8px 8px 16px;
    }
    .color-black-custom {
        color: #393936;
    }
    .font-bold{
        font-weight: bold;
    }
}