list-order {
    .magin-right-10-custom {
        margin-right: 10px;
    }
    .text-decoration {
        text-decoration: line-through;
    }
    .color-orenge-custom {
        color: #ff5722;
    }
    .h3-name {
        color: #ae75e7;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .color-green-custom {
        color: #137911;
    }
}
